@model IEnumerable<HRM_Management_System.Models.Notice_Board>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.notice_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notice_content)
        </th>
        <th>
            Department
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notice_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.notice_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notice_content)
        </td>
        <td>
            @if (item.notice_depart_id == null)
            {
                <span>All</span>
            }
            else
            {
                <span>
                    @item.Departament.depart_name 
                </span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notice_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
